<%- include('partials/header', { title: 'My Dreams Page' }) %>
<body>
    <h1>MY DREAMS</h1>
    <blockquote>
  <p><%= quote %></p>
  <footer>— <%= author %></footer>
</blockquote>

    <ul>
    <% dreams.forEach(dream => { %>
      <li>
        <%= dream.text %>
        [<a href="/dreams/<%= dream.id %>">View</a>]
        [<a href="/dreams/<%= dream.id %>/edit">Edit</a>]
        <form action="/dreams/<%= dream.id %>?_method=DELETE" method="POST" style="display:inline;">
          <button>Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>

  <a href="/dreams/new">Add New Dream</a>
<%- include('partials/footer') %>